body{
    font-family: Arial,sans-serif;
    display:flex;
    justify-content:center;
    padding-top:50px;
    background-color:#fefef9;
}
.dropdown{
    position:relative;
    width:250px;
}
.select-box{
    background:white;
    border:1px solid #333;
    border-radius:8px;
    padding:12px 16px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}
.dropdown-menu{
    display:none;
    position:absolute;
    width:100%;
    background:white;
    border:1px solid #333;
    border-top: none;
    border-radius: 0 0 8px 8px;
    list-style:none;
    padding:0;
    margin:0;
    z-index:100;
}
.dropdown.open .dropdown-menu{
    display:block;
}
.item{
    padding:12px 16px;
    cursor:pointer;
}
.item:hover{
    background-color:#e2e6ea;
    font-weight:bold;
}
.arrow{
    font-size:12px;
    transition:transform 0.3s;
}
.dropdown.open .arrow{
    transform:rotate(180deg);
}